{% extends "DZ/base.html" %}
{% load static %}

{% block title %}Досье: Дети Земли{% endblock %}

{% block content %}
        <h1>Досье организации: "Дети Земли"</h1>
        <a href="{% url 'DZ_organizations' %}"><< Назад к реестру организаций</a>
        <br>
        <p><strong>Тип:</strong> Секретная глобальная организация</p>
        <p><strong>Идеология:</strong> Сдерживание и защита человечества.</p>
        <p><strong>Статус:</strong> Активна</p>

        <hr style="border-color: var(--border-color); margin: 2rem 0;">

        <h3>1. Общая информация</h3>
        <p><strong>Публичный фасад:</strong> Отсутствует. Организация действует в полной секретности, поддерживая "Маскарад".</p>
        <p><strong>Основная цель:</strong> Защита человечества от аномальных угроз, а также от враждебных организаций. Деятельность включает поиск, сдерживание, изучение и, при необходимости, нейтрализацию аномалий.</p>
        
        <h3>2. Структура</h3>
        <p>Иерархия в организации "Дети Земли" строго регламентирована и разделена на классы по буквенному обозначению от A до Z-2. Эта система определяет полномочия, обязанности и уровень допуска каждого сотрудника.</p>
        <ul>
            <li><strong>Низшие классы (A-E):</strong> Включают расходный персонал, службу безопасности, разведку и отдел информационной безопасности ("Затирщики").</li>
            <li><strong>Научный и оперативный персонал (F-N):</strong> Ядро организации, состоящее из учёных, полевых агентов, групп быстрого реагирования и охраны объектов. Включает также аномальных сотрудников (Класс N), работающих на благо организации.</li>
            <li><strong>Командный состав (M-W):</strong> Военное и административное руководство, управляющее отделами, Зонами содержания и глобальными операциями.</li>
            <li><strong>Высшее руководство (X, Z-1, Z-2):</strong> Высший совет Z-1, управляющий всей организацией, и таинственный Основатель (Z-2), являющийся высшей инстанцией.</li>
        </ul>

        <h3>3. Отношения с другими организациями</h3>
        <ul>
            <li><strong>SCP-Фонд:</strong> Стратегические союзники. Организации координируют действия и обмениваются информацией.</li>
            <li><strong>"Серебряная Длань":</strong> Враги / Конкуренты. "Длань" стремится к коммерциализации аномалий, что противоречит целям "Детей Земли". Ведётся постоянная контрразведывательная деятельность.</li>
            <li><strong>"Освобождённые":</strong> Идеологические противники. Рассматриваются как террористическая угроза из-за их стремления "освободить" все аномалии, что приводит к атакам на Зоны содержания.</li>
        </ul>
{% endblock %}