{% extends "DZ/base.html" %}
{% load static %}

{% block title %}Досье: Серебряная Длань{% endblock %}

{% block content %}
        <h1>Досье организации: "Серебряная Длань"</h1>
        <a href="{% url 'DZ_organizations' %}"><< Назад к реестру организаций</a>
        <br>
        <p><strong>Тип:</strong> Транснациональная корпорация</p>
        <p><strong>Идеология:</strong> Радикальный техно-капитализм. "Всё имеет свою цену".</p>
        <p><strong>Статус:</strong> Враждебная / Конкурирующая</p>

        <hr style="border-color: var(--border-color); margin: 2rem 0;">

        <h3>1. Общая информация</h3>
        <p><strong>Публичный фасад:</strong> Легальный бизнес в сфере высоких технологий, фармацевтики и частного консалтинга.</p>
        <p><strong>Секретная деятельность:</strong> Поиск, захват, изучение и коммерциализация аномалий и аномальных технологий.</p>
        
        <h3>2. Структура</h3>
        <p>"Серебряная Длань" построена по модели безжалостной, но эффективной мегакорпорации, где царит культура "внутренней конкуренции". Успех вознаграждается, а провал — карается, часто фатально.</p>
        <ul>
            <li><strong>Совет Директоров:</strong> Анонимный коллектив, состоящий из богатейших и влиятельнейших людей планеты. Ставят цели по прибыли.</li>
            <li><strong>Исполнительный Комитет:</strong> Реальная власть. Несколько вице-президентов, курирующих свои направления.</li>
            <li><strong>Департамент Приобретения Активов (AAD):</strong> "Полевые" команды, занимающиеся шпионажем и силовым захватом аномалий.</li>
            <li><strong>Департамент Исследований и Применения (R&A):</strong> Лаборатории, где аномалии "разбирают на запчасти" для создания коммерческих продуктов.</li>
            <li><strong>Департамент Монетизации и Продаж:</strong> Отдел, отвечающий за продажу аномальных технологий на черном рынке.</li>
            <li><strong>Департамент Внутренних Дел:</strong> Жестокая служба безопасности, пресекающая шпионаж и гарантирующая лояльность сотрудников.</li>
        </ul>

        <h3>3. Отношение к "Детям Земли"</h3>
        <p>Считают "Детей Земли" и SCP-Фонд "собаками на сене", которые сидят на сокровищнице и мешают прогрессу (и прибыли). Являются основной угрозой в сфере промышленного шпионажа и кражи активов.</p>

{% endblock %}