{% extends "DZ/base.html" %}
{% load static %}

{% block title %}Допрос {{ archive_item.anomaly }}{% endblock %}

{% block content %}
        <h1>// {{ archive_item|upper }} //</h1>
        <a href="{% url 'DZ_archives' %}"><< Назад к архиву</a>
        <br>
        <p><strong>Дата:</strong> {{ archive_item.date|date:"d.m.Y" }}</p>
        <p><strong>Связанный объект:</strong> <a href="{% url 'DZ_object' archive_item.anomaly.slug %}">{{ archive_item.anomaly }}</a></p>

        <hr style="border-color: var(--border-color); margin: 2rem 0;">

        <blockquote>
            <p><strong>Допрашивающий:</strong> {{ archive_item.interrogator }}</p>
            <p><strong>Допрашиваемая:</strong> {{ archive_item.interrogated_person }}</p>
            <br>
            {{ archive_item.dialogue|safe }}
        </blockquote>
{% endblock %}
